<%= render 'header' %>

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert #{key}") %>
<% end %>

<h3>アイコン変更</h3>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
  </div>
<% end %>

<% if @user.icon.present? %>
  <%= form_with(model: @user, local: true) do |f| %>
    <%= image_tag @user.icon, class: :icon %>
    <%= f.file_field :icon %>
    <%= f.submit "アイコン変更", class: "btn btn-primary" %>
    <%= link_to "アイコン削除", user_path(@user, user: {remove_icon: 1}), method: :patch, data: { confirm: '本当によろしいですか？' } %>
  <% end %>
<% else %>
  <%= form_with(model: @user, local: true) do |f| %>
    <%= image_tag "generic-profile-avatar_352864.jpg", class: :icon %>
    <%= f.file_field :icon %>
    <%= f.submit "アイコン作成", class: "btn btn-primary" %>
  <% end %>
<% end %>

</br>

<h2>プロフィール更新</h2>

<%= form_with(model: @user, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit "プロフィールを更新する", class: :profile_update_bottun %>
  </div>
<% end %>

</br>
</br>
</br>
</br>
</br>

<h3>プロフィールを削除する</h3>
<%= link_to "アップした写真含め、ユーザー情報を全て削除する", user_path(@user.id), method: :delete, data: { confirm: '本当によろしいですか？' }, class: "btn btn-danger" %>
